# PROBLEM 1.

In [15]:
# Here is the code for converting integer values to Indian currency notations, without using the currency libraries

In [5]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
# Function for converting the Indian currency

def To_Convert_To_Indian_Currency(Number):
  Num = str(Number) # to convert the number to string


# In Indian curreny to count avove 1000 to one crore rps we using seperated the number after every three digits.
  if len(Num) >= 3:
    Last_three_no = Num[-3:] # here we are seperating the last three digits from the number given
    Other_num = Num[:-3] #  here we are seperating the other  digits  apart from last three digits from the number given

    Other_number = Other_num[::-1] # here we are reversing the numbers

    Final_num = [Other_number[i:i+2] for i in range (0, len(Other_number), 2)] # here we are inserting the comma after every two digit apart from last three digit

    For_comma = ','.join(Final_num)[::-1] + ',' + Last_three_no # Finally combining all the digits and adding comma also

  else:
    For_comma = Num # If the Number given were less three digits then the Number will be returned as it is

  return For_comma

In [9]:
# Example usage :

Number = 960635699643
Output = To_Convert_To_Indian_Currency(Number)

In [10]:
print(Output)

9,60,63,56,99,643

In [12]:
Number = 6870064478847
Output = To_Convert_To_Indian_Currency(Number)
print(Output)

68,70,06,44,78,847

In [14]:
# here is the example if the number is less than 3 then it will be returned as it is.

Number = 64
Output = To_Convert_To_Indian_Currency(Number)
print(Output)

64

# PROBLEM 2.

In [16]:
# Here the problem os to find minimum no. of players required to shot so that  Ali is visible in Gi-Hun's line of sight.

In [17]:
# Here is the function that will help to get the no. of players shot for Ali to be visible

def Numbers_Of_Players_Shot(T,Test_Case): # here T is the no of test_case provided and test_case id the sample provided
  Result = []  # To get the result stored
  for i in range(T):
      N,K = Test_Case[i][0]  # Here N is the no of the players and K is the height of the players
      Height = Test_Case[i][1]


      Num_Players = sum(1 for h in Height if h > K) # To get the no of players above height then ALi
      Result.append(Num_Players)

  return Result

In [31]:
# In this Example  I have used two test cases

T = 2
Test_Case = [[(3, 6), [2, 5, 8, 9 ,12 ,15 ,3]], [(5, 8), [9, 6, 3, 4, 10, 15 ,12, 2, 1]]]

In [32]:
Result = Numbers_Of_Players_Shot(T,Test_Case)

In [33]:
print(Result)

[4, 4]

# For the above test_case Two examples were taken in which there were 4 players needs to be shot for the first example and for the second example also 4 players were required to shot.

In [27]:
# In this Example  I have used four test cases

T = 4

Test_Case = [[(4, 8), [2, 11, 4, 16, 9, 8, 12]], [(5, 6), [9, 3, 6, 10, 4, 5, 8]], [(2, 6), [1, 2, 3, 4, 8]], [(3, 5), [2, 5, 12, 13, 18, 22]] ]

In [28]:
Result = Numbers_Of_Players_Shot(T,Test_Case)

In [29]:
print(Result)

[4, 3, 1, 4]

# In this test case four example were taken in which for the first and fourth example there were 4 players required to shot and for second one there were 3 players and for the third one there were 1 player required to shot